appservice/deploy-aspnet-helloworld/bin/
appservice/deploy-aspnet-helloworld/obj/
appservice/deploy-aspnet-helloworld/deploy-aspnet-helloworld.csproj
appservice/deploy-aspnet-helloworld/Program.cs
appservice/deploy-aspnet-helloworld/appsettings.json
appservice/deploy-aspnet-helloworld/appsettings.Development.json
